body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 4px;
  border-radius: 3px;
}

input:focus {
  outline: none;
}

button {
  background: #5f9341;
  color: white;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  font-weight: bold;
}

#delete-btn {
  background-color: white;
  color: #5f9341;
}

ul {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
  font-size: large;
}

li {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.link-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  color: #5f9341;
}

a {
  color: #5f9341;
}

.cross {
  color: red;
  cursor: pointer;
  padding: 3px;
  background-color: inherit;
  border-color: white;
}

.copy {
  color: blue;
  cursor: pointer;
  background-color: inherit;
  border-color: white;
  padding: 3px;
}

.copy:hover {
  text-decoration: underline;
}
